<%# Write your code here! %>
<!doctype html>
<html>
<body>
  <h1>Welcome!</h1>
  <form action="/greet" method="POST">
    <label for="user_name">Name:</label>
    <p>
      <input type="text" name="user_name" id="user_name">
      <input type="submit" value="Submit"/>
    </p>
  </form>
</body>
</html>